@font-face {
    font-family: Avenir;
    src: url('/fonts/exported-fonts/Avenir-Book-01.ttf') format('ttf');
}

@font-face {
    font-family: Avenir-heavy;
    src: url('/fonts/exported-fonts/Avenir-Heavy-05.ttf') format('ttf');
}

* {
    padding: 0;
    margin: 0;
    font-family: Avenir;
}

a {
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* This is the form Modal */

.re-marketing-form-modal {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    /* background-color: rgb(255, 255, 255); */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    bottom: -100%;
    z-index: 999;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.re-marketing-form-modal-exit-btn-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.re-marketing-form-modal-exit-btn {
    padding: 10px;
    font-size: 2em;
    color: #fff;
}

.re-marketing-form-modal-exit-btn>i {
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    cursor: pointer;
}

.re-marketing-form-modal-exit-btn>i:hover {
    color: #373737;
}

.form-title {
    width: 80%;
    margin: 0 auto;
}

.form-title>img {
    width: 100%;
}

.form-title>h2 {
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    padding: 20px;
}

.form-box {
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
    box-shadow: 0px 6px 15px 2px #00000014;
    padding: 10% 2%;
}

.form-box>.links {
    width: 100%;
}

.form-box>form {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.form-box>form>input {
    width: 90%;
    font-size: 1.2em;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#re-marketing-btn {
    width: 100%;
    background-color: #1d66b3;
    color: #fff;
    border: none;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    font-family: Avenir-heavy;
    text-transform: uppercase;
}

#re-marketing-btn:hover {
    background-color: #16508d;
}

.hero-container {
    width: 100%;
    height: 100vh;
}


/* This is the NAv Section */

.hero-header {
    width: 100%;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    margin: 0 auto;
}

.remarketing-3-hero-logo,
.re-marketing-3-nav {
    width: 45%;
    margin: 0 auto;
    text-align: left;
    /* border: 1px solid red; */
}

.remarketing-3-hero-logo>img {
    width: 50%;
}

.re-marketing-3-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.phone-number>h2 {
    color: #fff;
    text-align: right;
}

.social-icons {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.social-icons>ul {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.social-icons>ul>li {
    width: 33%;
    list-style: none;
    text-align: center;
}

.social-icons>ul>li>a {
    text-align: center;
    color: #373737;
    font-size: 1.5em;
}

.phone-number {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.phone-number>h2>a {
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    text-decoration: none;
    font-weight: 700;
}


/* This is the Main Content Section */

.hero-wrapper {
    /* padding-top: 85px; */
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hero-box {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hero-box:nth-child(2)>.re-marketing-main-picture {
    display: none;
}

.re-marketing-main-picture {
    width: 100%;
}

.re-marketing-main-picture>img {
    width: 100%;
}


/* This is the Text Content Section */

.marketing-main-text-box {
    width: 80%;
}

.marketing-main-text-box>h1 {
    font-size: 3.5em;
    max-width: 950px;
    color: #fff;
}

.remarketing-main-points {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3% 0;
}

.remarketing-main-points>li {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 1% 0;
}

.remarketing-main-points>li>span {
    font-size: 2em;
    color: #fff;
    padding-right: 5px;
    width: 10%;
    max-width: 50px;
}

.remarketing-main-points>li>h2 {
    font-size: 1.5em;
    text-transform: capitalize;
    color: #fff;
    width: 90%;
}

.remarketing-form-btn {
    width: 100%;
    padding: 10px 0;
}

.remarketing-form-btn>a {
    display: block;
    width: 60%;
    height: 100%;
    background-color: #1d66b3;
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    padding: 20px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-family: Avenir-heavy;
    text-transform: uppercase;
}

.remarketing-form-btn>a:hover {
    background-color: #15508f;
}

.links {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.links>a {
    color: #fff;
    padding: 5px 15px;
    font-size: .8em;
}


/* This is the Footer Section */

.remarketing-footer-section {
    width: 100%;
    height: auto;
    background-color: #ffffff6e;
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
    position: absolute;
}

.re-marketing-footer-box {
    width: 50%;
    margin: 0 auto;
}

.re-marketing-footer-box>.social-icons {
    width: 100%;
}

.re-marketing-footer-box>.social-icons>ul {
    margin: 0 auto;
    padding-top: 10px;
}

.remarketing-footer-section>.re-marketing-footer-box>.social-icons>ul {
    justify-content: flex-end;
    margin: 0;
}

.re-marketing-footer-box>.social-icons>ul>li>a {
    color: #fff;
}

.re-marketing-footer-box:nth-child(2) {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}


/* This is the Mobile Footer */

.re-marketing-footer-call-form {
    position: fixed;
    width: 100%;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

.re-marketing-footer-call-form>ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.re-marketing-footer-call-form>ul>li {
    width: 50%;
    text-align: center;
    list-style: none;
}

.re-marketing-footer-call-form>ul>li>a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px 0;
    color: #fff;
}

.re-marketing-footer-call-form>ul>li:nth-child(1)>a {
    background-color: #ea2329;
}

.re-marketing-footer-call-form>ul>li:nth-child(1)>a:hover {
    background-color: #b9191f;
}

.re-marketing-footer-call-form>ul>li:nth-child(2)>a {
    background-color: #23a6d5;
}

.re-marketing-footer-call-form>ul>li:nth-child(2)>a:hover {
    background-color: #1983a9;
}

@media only screen and (max-width:1535px) {
    .marketing-main-text-box>h1 {
        font-size: 3em;
    }
    .remarketing-form-btn>a {
        width: 90%;
    }
    .links {
        width: 90%;
    }
}

@media only screen and (max-width:1375px) {
    .remarketing-main-points>li>h2 {
        width: 85%;
    }
}

@media only screen and (max-width:1280px) {
    .phone-number>h2 {
        font-size: 1.2em;
    }
    .marketing-main-text-box>h1 {
        font-size: 2.5em;
    }
    .remarketing-form-btn>a {
        width: 100%;
    }
    .links {
        width: 100%;
    }
}

@media only screen and (max-width:1070px) {
    .social-icons,
    .phone-number {
        width: 100%;
    }
    .hero-box {
        width: 50%;
    }
    .marketing-main-text-box>h1 {
        font-size: 2em;
    }
    .remarketing-form-btn>a {
        font-size: 1.2em;
    }
}

@media only screen and (max-width:1024px) {
    .hero-box {
        width: 100%;
        height: 75%;
    }
    .re-marketing-main-picture {
        width: 70%;
    }
    .marketing-main-text-box>h1 {
        text-align: center;
        font-size: 3em;
    }
    .remarketing-main-points>li {
        justify-content: center;
    }
    .remarketing-form-btn>a {
        width: 80%;
        margin: 0 auto;
    }
    .hero-wrapper {
        align-items: center;
    }
    .hero-box:nth-child(1) {
        display: none;
    }
    .hero-box:nth-child(2)>.re-marketing-main-picture {
        display: flex;
    }
}

@media only screen and (max-width:930px) {
    .remarketing-3-hero-logo>img {
        width: 75%;
    }
    .remarketing-form-btn>a {
        width: 100%;
    }
    .links {
        width: 100%;
    }
    .phone-number>h2 {
        font-size: 1em;
    }
    .marketing-main-text-box>h1 {
        font-size: 2.5em;
    }
    .remarketing-main-points>li>h2 {
        font-size: 1.5em;
    }
}

@media only screen and (max-width:768px) {
    .social-icons>ul>li>a {
        font-size: 1.3em;
    }
    .hero-box {
        width: 100%;
        height: 87%;
    }
    .re-marketing-footer-box {
        width: 50%;
        margin: 0 auto;
    }
    .social-icons {
        justify-content: center;
    }
    .social-icons>ul>li>a {
        color: #fff;
    }
}

@media only screen and (max-width:741px) {
    .phone-number {
        display: none;
    }
    .remarketing-3-hero-logo {
        width: 100%;
        text-align: center;
    }
    .remarketing-3-hero-logo>img {
        width: 40%;
    }
}

@media only screen and (max-width:633px) {
    .hero-header {
        /* background-color: #373737; */
        padding: 10px 0;
    }
    .marketing-main-text-box>h1 {
        font-size: 1.8em;
    }
    .remarketing-main-points>li>h2 {
        font-size: 1.2em;
    }
    .hero-box {
        width: 100%;
        height: 55%;
    }
}

@media only screen and (max-width:500px) {
    .remarketing-3-hero-logo>img {
        width: 60%;
    }
    .re-marketing-3-nav {
        display: none;
    }
    .remarketing-footer-section>ul>li {
        width: 100%;
    }
    .marketing-main-text-box>h1 {
        font-size: 1.8em;
    }
    .re-marketing-footer-call-form {
        display: flex;
    }
    .remarketing-footer-section {
        padding: 20px 0 70px 0;
        display: none;
    }
    .remarketing-footer-section>ul>li {
        font-size: .8em;
    }
    .re-marketing-footer-box {
        width: 80%;
        text-align: center;
        margin: 0 auto;
        padding-top: 10px;
    }
    .re-marketing-footer-box>.social-icons>ul>li>a {
        color: #fff;
    }
    .form-box>form {
        width: 85%;
    }
    .form-title {
        width: 90%;
    }
    .form-title>h2 {
        font-size: 1.2em;
    }
    .form-box>form>input {
        font-size: 1em;
        padding: 10px;
    }
    .remarketing-form-btn {
        display: none;
    }
    .hero-box {
        width: 100%;
        height: 40%;
    }
    .social-icons>ul {
        margin: 0 auto;
    }
    .remarketing-footer-section-2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #ffffffa6;
        padding: 5px 0;
    }
}

@media only screen and (max-width:600px) {
    .hero-box {
        height: 80%;
    }
    .hero-container {
        height: auto;
        overflow: scroll;
    }
    .re-marketing-form-modal {
        height: 100%;
        overflow: scroll;
    }
}

@media only screen and (max-width:414px) {
    .form-box>form {
        width: 85%;
    }
    .links>a {
        font-size: .8em;
    }
    .hero-header {
        position: relative;
    }
    .hero-container {
        height: auto;
        overflow: scroll;
    }
    .social-icons {
        justify-content: center;
    }
    .marketing-main-text-box>h1 {
        font-size: 1.6em;
    }
    .remarketing-main-points>li>h2 {
        font-size: 1em;
    }
    .hero-box {
        height: 95%;
    }
    .re-marketing-main-picture {
        width: 90%;
    }
    .hero-wrapper {
        height: auto;
    }
    .re-marketing-footer-box:nth-child(2) {
        width: 90%;
        margin: 0 auto;
        justify-content: center;
    }
    .remarketing-main-points>li>span {
        font-size: 1.5em;
    }
    .form-box {
        padding: 0;
    }
    .form-title>h2 {
        padding: 10px 0;
    }
}

@media only screen and (max-width:320px) {
    .form-box>form>input {
        padding: 10px;
    }
    .remarketing-main-points>li>span {
        font-size: 1.5em;
    }
    .hero-wrapper {
        padding-bottom: 100px;
    }
    .marketing-main-text-box>h1 {
        font-size: 1.5em;
    }
    .re-marketing-form-container {
        height: auto;
        overflow: scroll;
    }
}